[[redirects]]
from = "/blog"
to = "/index.html"
status = 200

[[redirects]]
from = "/about"
to = "/index.html"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[build]
command = "npx vite build"
publish = "dist"